.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Box-margin {
  margin: 20px;
}

.exercise {
  padding: 30px;
  font-size: 0.9em;
}

.exercise p, .exercise ul {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
.exercise code {padding:0}

.exercise a {
  cursor: pointer;
}