.theia-tree-editor-form {
  display: flex;
}

.theia-tree-editor-form > .jsonforms-container {
  flex-grow: 1;
  max-width: 100%; /* Half the width of a full hd display. */
  width: 100%;
}


.MuiButtonBase-root.MuiTab-root {
  width: 210px;
}